GTK_IM_MODULE=fcitx
QT_IM_MODULE=fcitx
XMODIFIERS=@im=fcitx

export QT_AUTO_SCREEN_SCALE_FACTOR=1
export ALL_PROXY="http://127.0.0.1:7890"
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5
export TERMINAL=/usr/bin/alacritty
export EDITOR=/usr/bin/nvim
export POLYBAR_THEME=dark
export MONITOR=`polybar -m | cut -d ':' -f 1`
